@charset "UTF-8";
div{
    display: inline-block;
    background-color:#066239 ;
    border: 1px solid rgb(2, 80, 5);
    text-align: center;
    height: 200px;
    width: 200px;
}
div:hover{
    background-color:#34e05ffa ;
}